<div class="row">
  <div class="col-xs-8">

  <h3>
    Title: <%= @todo.name %>
  </h3>
  <p>
    Description: <%= @todo.description %>
  </p>
  <%= link_to "Go to index", todos_path, class: "btn btn-warning" %>
  </div>
</div>
